<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-center">About Us</h3>
            <hr>
            <h4 class="text-center">
                <p>
                    Take-My-Spot allows users who wish to travel to parts of the city that have scarce parking available, the option to rent privately owned properties to park their car. Take-MY-Spot also allows the user to place their underutilized parking spot up for rent and make some money. It Allows you to be both owner and renter.
                </p>
                <br>
                <p>
                    One of the biggest challenges of living in a large city is the the lack of available parking, so we came up with this app to alleviate some of that stress. Sometimes, city-goers want to visit certain  parts of the city, but might hesitate because they don’t know where they will park their car. Take-My-Spot takes away the hassle of driving around in circles looking for a parking spot. It also makes you feel more secure knowing that you are not just leaving your car in a location where damage can occur. Take-My-Spot lets you rent per day, depending on your specific needs.
                </p>

            </h4>
        </div>
    </div>
</div>
