<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" id="email" placeholder="Email">
                <label>Password</label>
                <input type="text" class="form-control" id="password" placeholder="Password">
                <label>Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
                <label>Phone</label>
                <input type="number" class="form-control" id="phone" placeholder="Phone">
                <button type="submit" class="btn btn-primary" id="new-user">New User</button>
            </form>
        </div>
        <div class="col-sm-6">
            <form class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" id="login-email" placeholder="Email">
                <label>Password</label>
                <input type="text" class="form-control" id="login-password" placeholder="Password">
                <button type="submit" class="btn btn-primary" id="login">Login</button>
            </form>
        </div>
    </div>
</div>

