<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="text-center">You must be logged in to view this page.</h4>
            <h4 class="text-center"><a href='/login'>Click Here</a> to login now.</h4>
        </div>
    </div>
</div>
