<div class="container">
    <div class="row">
        <div class="col-sm-12">
        
                <legend>Rental Space Form</legend>
                
                    <form role="form" action="/owner" method="POST">
                        <h3>Property Address</h3>
                        <hr>
                        <div class="row">
                            <div class="form-group col-sm-5">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="user-address" name="address" required>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" name="city" required>
                                </input>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="zipcode">Zip Code</label>
                                <input type="number" class="form-control" id="zipcode" name="zipcode" required>
                            </div>
                            <div class="form-group col-sm-1">
                                <label for="state">State</label>
                                <select class="form-control" id="state" name="state" required>
                                    <option>IL</option>
                                </select>
                            </div>
                        </div>
                        <h3>Availablity Preference</h3>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2">
                                <input class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExampleMonday" aria-expanded="false" aria-controls="collapseExample" value="Monday" name="monday">
                                
                                <div class="collapse" id="collapseExampleMonday">
                                <div class="well">
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label" for="zero">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="m_zero" value="true" value="true"> 12 AM - 1 AM
                                      </label>
                                    </div>
                                
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="m_one" value="true"> 1 AM - 2 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="m_two" value="true"> 2 AM - 3 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="m_three" value="true"> 3 AM - 4 AM
                                      </label>
                                    </div>
                           
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="m_four" value="true"> 4 AM - 5 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="m_five" value="true"> 5 AM - 6 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="m_six" value="true"> 6 AM - 7 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="m_seven" value="true"> 7 AM - 8 AM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="m_eight" value="true"> 8 AM - 9 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="m_nine" value="true"> 9 AM - 10 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="m_ten" value="true"> 10 AM - 11 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="m_eleven" value="true"> 11 AM - Noon
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="m_tweleve"> Noon - 1 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="m_thirteen" value="true"> 1 PM - 2 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="m_fourteen" value="true"> 2 PM - 3 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="m_fifteen" value="true"> 3 PM - 4 PM
                                    </label>
                                </div>
                         
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="m_sixteen" value="true"> 4 PM - 5 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="m_seventeen" value="true"> 5 PM - 6 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="m_eighteen" value="true"> 6 PM - 7 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="m_nineteen" value="true"> 7 PM - 8 PM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="m_twenty" value="true"> 8 PM - 9 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="m_twentyone" value="true"> 9 PM - 10 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="m_twentytwo" value="true"> 10 PM - 11 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="m_twentythree" value="true"> 11 PM - 12 AM
                                    </label>
                                </div>
                                 </div>
                            </div>
                            </div>
                             <div class="col-sm-2">
                                <input class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExampleTuesday" aria-expanded="false" aria-controls="collapseExample" value="Tuesday" name="tuesday">
                                  
                              
                                <div class="collapse" id="collapseExampleTuesday">
                                <div class="well">
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="t_zero" value="true"> 12 AM - 1 AM
                                      </label>
                                    </div>
                                
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="t_one" value="true"> 1 AM - 2 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="t_two" value="true"> 2 AM - 3 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="t_three" value="true"> 3 AM - 4 AM
                                      </label>
                                    </div>
                           
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="t_four" value="true"> 4 AM - 5 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="t_five" value="true"> 5 AM - 6 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="t_six" value="true"> 6 AM - 7 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="t_seven" value="true"> 7 AM - 8 AM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="t_eight" value="true"> 8 AM - 9 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="t_nine" value="true"> 9 AM - 10 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="t_ten" value="true"> 10 AM - 11 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="t_eleven" value="true"> 11 AM - Noon
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="t_twelve" value="true"> Noon - 1 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="t_thirteen" value="true"> 1 PM - 2 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="t_fourteen" value="true"> 2 PM - 3 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="t_fifteen" value="true"> 3 PM - 4 PM
                                    </label>
                                </div>
                         
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="t_sixteen" value="true"> 4 PM - 5 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="t_seventeen" value="true"> 5 PM - 6 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="t_eighteen" value="true"> 6 PM - 7 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="t_nineteen" value="true"> 7 PM - 8 PM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="t_twenty" value="true"> 8 PM - 9 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="t_twentyone" value="true"> 9 PM - 10 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="t_twentytwo" value="true"> 10 PM - 11 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="t_twentythree" value="true"> 11 PM - 12 AM
                                    </label>
                                </div>
                                 </div>
                            </div>
                            </div>
                             <div class="col-sm-2">
                                <input class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExampleWednesday" aria-expanded="false" aria-controls="collapseExample" value="Wednesday" name="wednesday">
                                 
                                <div class="collapse" id="collapseExampleWednesday">
                                <div class="well">
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="w_zero" value="true"> 12 AM - 1 AM
                                      </label>
                                    </div>
                                
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="w_one" value="true"> 1 AM - 2 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="w_two" value="true"> 2 AM - 3 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="w_three" value="true"> 3 AM - 4 AM
                                      </label>
                                    </div>
                           
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="w_four" value="true"> 4 AM - 5 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="w_five" value="true"> 5 AM - 6 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="w_six" value="true"> 6 AM - 7 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="w_seven" value="true"> 7 AM - 8 AM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="w_eight" value="true"> 8 AM - 9 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="w_nine" value="true"> 9 AM - 10 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="w_ten" value="true"> 10 AM - 11 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="w_eleven" value="true"> 11 AM - Noon
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="w_twelve" value="true"> Noon - 1 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="w_thirteen" value="true"> 1 PM - 2 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="w_fourteen" value="true"> 2 PM - 3 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="w_fifteen" value="true"> 3 PM - 4 PM
                                    </label>
                                </div>
                         
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="w_sixteen" value="true"> 4 PM - 5 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="w_seventeen" value="true"> 5 PM - 6 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="w_eighteen" value="true"> 6 PM - 7 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="w_nineteen" value="true"> 7 PM - 8 PM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="w_twenty" value="true"> 8 PM - 9 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="w_twentyone" value="true"> 9 PM - 10 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="w_twentytwo" value="true"> 10 PM - 11 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="w_twentythree" value="true"> 11 PM - 12 AM
                                    </label>
                                </div>
                                 </div>
                            </div>
                            </div>
                             <div class="col-sm-2">
                                <input class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExampleThursday" aria-expanded="false" aria-controls="collapseExample" value="Thursday" name="thursday">
                                 
                                <div class="collapse" id="collapseExampleThursday">
                                <div class="well">
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="th_zero" value="true"> 12 AM - 1 AM
                                      </label>
                                    </div>
                                
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="th_one" value="true"> 1 AM - 2 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="th_two" value="true"> 2 AM - 3 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="th_three" value="true"> 3 AM - 4 AM
                                      </label>
                                    </div>
                           
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="th_four" value="true"> 4 AM - 5 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="th_five" value="true"> 5 AM - 6 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="th_six" value="true"> 6 AM - 7 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="th_seven" value="true"> 7 AM - 8 AM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="th_eight" value="true"> 8 AM - 9 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="th_nine" value="true"> 9 AM - 10 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="th_ten" value="true"> 10 AM - 11 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="th_eleven" value="true"> 11 AM - Noon
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="th_twelve" value="true"> Noon - 1 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="th_thirteen" value="true"> 1 PM - 2 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="th_fourteen" value="true"> 2 PM - 3 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="th_fifteen" value="true"> 3 PM - 4 PM
                                    </label>
                                </div>
                         
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="th_sixteen" value="true"> 4 PM - 5 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="th_seventeen" value="true"> 5 PM - 6 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="th_eighteen" value="true"> 6 PM - 7 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="th_nineteen" value="true"> 7 PM - 8 PM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="th_twenty" value="true"> 8 PM - 9 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="th_twentyone" value="true"> 9 PM - 10 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="th_twentytwo" value="true"> 10 PM - 11 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="th_twentythree" value="true"> 11 PM - 12 AM
                                    </label>
                                </div>
                                 </div>
                            </div>
                            </div>
                             <div class="col-sm-2">
                                <input class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExampleFriday" aria-expanded="false" aria-controls="collapseExample" value="Friday" name="friday">
                                  
                                <div class="collapse" id="collapseExampleFriday">
                                <div class="well">
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="f_zero" value="true"> 12 AM - 1 AM
                                      </label>
                                    </div>
                                
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="f_one" value="true"> 1 AM - 2 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="f_two" value="true"> 2 AM - 3 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="f_three" value="true"> 3 AM - 4 AM
                                      </label>
                                    </div>
                           
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="f_four" value="true"> 4 AM - 5 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="f_five" value="true"> 5 AM - 6 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="f_six" value="true"> 6 AM - 7 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="f_seven" value="true"> 7 AM - 8 AM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="f_eight" value="true"> 8 AM - 9 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="f_nine" value="true"> 9 AM - 10 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="f_ten" value="true"> 10 AM - 11 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="f_eleven" value="true"> 11 AM - Noon
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="f_twelve" value="true"> Noon - 1 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="f_thirteen" value="true"> 1 PM - 2 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="f_fourteen" value="true"> 2 PM - 3 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="f_fifteen" value="true"> 3 PM - 4 PM
                                    </label>
                                </div>
                         
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="f_sixteen" value="true"> 4 PM - 5 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="f_seventeen" value="true"> 5 PM - 6 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="f_eighteen" value="true"> 6 PM - 7 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="f_nineteen" value="true"> 7 PM - 8 PM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="f_twenty" value="true"> 8 PM - 9 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="f_twentyone" value="true"> 9 PM - 10 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="f_twentytwo" value="true"> 10 PM - 11 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="f_twentythree" value="true"> 11 PM - 12 AM
                                    </label>
                                </div>
                                 </div>
                            </div>
                            </div>
                             <div class="col-sm-2">
                                <input class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExampleSaturday" aria-expanded="false" aria-controls="collapseExample" value="Saturday" name="saturday">
                                  
                                <div class="collapse" id="collapseExampleSaturday">
                                <div class="well">
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="sa_zero" value="true"> 12 AM - 1 AM
                                      </label>
                                    </div>
                                
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="sa_one" value="true"> 1 AM - 2 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="sa_two" value="true"> 2 AM - 3 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="sa_three" value="true"> 3 AM - 4 AM
                                      </label>
                                    </div>
                           
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="sa_four" value="true"> 4 AM - 5 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="sa_five" value="true"> 5 AM - 6 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="sa_six" value="true"> 6 AM - 7 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="sa_seven" value="true"> 7 AM - 8 AM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="sa_eight" value="true"> 8 AM - 9 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="sa_nine" value="true"> 9 AM - 10 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="sa_ten" value="true"> 10 AM - 11 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="sa_eleven" value="true"> 11 AM - Noon
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="sa_twelve" value="true"> Noon - 1 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="sa_thirteen" value="true"> 1 PM - 2 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="sa_fourteen" value="true"> 2 PM - 3 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="sa_fifteen" value="true"> 3 PM - 4 PM
                                    </label>
                                </div>
                         
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="sa_sixteen" value="true"> 4 PM - 5 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="sa_seventeen" value="true"> 5 PM - 6 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="sa_eighteen" value="true"> 6 PM - 7 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="sa_nineteen" value="true"> 7 PM - 8 PM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="sa_twenty" value="true"> 8 PM - 9 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="sa_twentyone" value="true"> 9 PM - 10 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="sa_twentytwo" value="true"> 10 PM - 11 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="sa_twentythree" value="true"> 11 PM - 12 AM
                                    </label>
                                </div>
                                 </div>
                            </div>
                            </div>
                            <div class="col-sm-2" style="margin:20px 0 20px 0">
                                <input class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExampleSunday" aria-expanded="false" aria-controls="collapseExample" value="Sunday" name="sunday">
                                 
                                <div class="collapse" id="collapseExampleSunday">
                                <div class="well">
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="su_zero" value="true"> 12 AM - 1 AM
                                      </label>
                                    </div>
                                
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="su_one" value="true"> 1 AM - 2 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="su_two" value="true"> 2 AM - 3 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="su_three" value="true"> 3 AM - 4 AM
                                      </label>
                                    </div>
                           
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="su_four" value="true"> 4 AM - 5 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="su_five" value="true"> 5 AM - 6 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="su_six" value="true"> 6 AM - 7 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="su_seven" value="true"> 7 AM - 8 AM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="su_eight" value="true"> 8 AM - 9 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="su_nine" value="true"> 9 AM - 10 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="su_ten" value="true"> 10 AM - 11 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="su_eleven" value="true"> 11 AM - Noon
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="su_twelve" value="true"> Noon - 1 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="su_thirteen" value="true"> 1 PM - 2 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="su_fourteen" value="true"> 2 PM - 3 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="su_fifteen" value="true"> 3 PM - 4 PM
                                    </label>
                                </div>
                         
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="su_sixteen" value="true"> 4 PM - 5 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="su_seventeen" value="true"> 5 PM - 6 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="su_eighteen" value="true"> 6 PM - 7 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="su_nineteen" value="true"> 7 PM - 8 PM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="su_twenty" value="true"> 8 PM - 9 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="su_twentyone" value="true"> 9 PM - 10 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="su_twentytwo" value="true"> 10 PM - 11 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="su_twentythree" value="true"> 11 PM - 12 AM
                                    </label>
                                </div>
                                 </div>
                            </div>
                            </div>
                        </div>
                        <h3>Price</h3>
                        <hr>
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label for="address">Price Per Hour</label>
                                <input type="text" class="form-control" id="price" name="price" required>
                            </div>
                        </div>
                       <div class="row">
                            <div class="col-sm-12">
                                <button value="Submit" type="submit" class="btn btn-primary" id="submit-button" data-toggle="modal" data-target="#exampleModal">Submit</button>
                            </div>
                        </div>
                    </form>

            <!-- /.modal -->    
           <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="exampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Add More</h4>
      </div>
      <div class="modal-body">
        
        <div class="row">
         Do you want to add more parking spots for listing?
        </div>

        <br>
        <legend>Availablity Preference</legend>
          <label for="days">Days</label>
      <label for="days" class="pure-checkbox">
            <input id="monday" type="checkbox" name="monday" value="monday"> Monday
            <input id="tuesday" type="checkbox" name="tuesday" value="tuesday"> Tuesday
            <input id="wednesday" type="checkbox" name="wednesday" value="wednesday"> Wednesday
            <input id="thursday" type="checkbox" name="thursday" value="thursday"> Thursday
            <input id="friday" type="checkbox" name="friday" value="friday"> Friday
            <input id="saturday" type="checkbox" name="saturday" value="saturday"> Saturday
            <input id="sunday" type="checkbox" name="sunday" value="sunday"> Sunday
            </label>

            <label for="time">Time</label>
            <!-- <div class="pure-u-1-8"> -->
      <label for="time" class="pure-checkbox">
          <div class="pure-u-2-8">
                <input id="zero" type="checkbox" name="zero" value="true"> 12 AM - 1 AM
              </div>
              <div class="pure-u-2-8">
                <input id="one" type="checkbox" name="one" value="true"> 1 AM - 2 AM
              </div>
              <div class="pure-u-2-8">
                <input id="two" type="checkbox" name="two" value="true"> 2 AM - 3 AM
              </div>
              <div class="pure-u-2-8">
                <input id="three" type="checkbox" name="three" value="true"> 3 AM - 4 AM
              </div>
              <div class="pure-u-2-8">
                <input id="four" type="checkbox" name="four" value="true"> 4 AM - 5 AM
              </div>
              <div class="pure-u-2-8">
                <input id="five" type="checkbox" name="five" value="true"> 5 AM - 6 AM
              </div>
              <div class="pure-u-2-8">
                <input id="six" type="checkbox" name="six" value="true"> 6 AM - 7 AM
              </div>
              <div class="pure-u-2-8">
                <input id="seven" type="checkbox" name="seven" value="true"> 7 AM - 8 AM
              </div>
              <div class="pure-u-2-8">
                <input id="eight" type="checkbox" name="eight" value="true"> 8 AM - 9 AM
              </div>
              <div class="pure-u-2-8">
                <input id="nine" type="checkbox" name="nine" value="true"> 9 AM - 10 AM
              </div>
              <div class="pure-u-2-8">
                <input id="ten" type="checkbox" name="ten" value="true"> 10 AM - 11 AM
              </div>
              <div class="pure-u-2-8">
                <input id="eleven" type="checkbox" name="eleven" value="true"> 11 AM - 12 NOON
              </div>
              <div class="pure-u-2-8">
                <input id="twelve" type="checkbox" name="twelve" value="true"> 12 NOON - 1 PM
              </div>
              <div class="pure-u-2-8">
                <input id="thirteen" type="checkbox" name="thirteen" value="true"> 1 PM - 2 PM
              </div>
              <div class="pure-u-2-8">
                <input id="fourteen" type="checkbox" name="fourteen" value="true"> 2 PM - 3 PM
              </div>
              <div class="pure-u-2-8">
                <input id="fifteen" type="checkbox" name="fifteen" value="true"> 3 PM - 4 PM
              </div>
              <div class="pure-u-2-8">
                <input id="sixteen" type="checkbox" name="sixteen" value="true"> 4 PM - 5 PM
              </div>
              <div class="pure-u-2-8">
                <input id="seventeen" type="checkbox" name="seventeen" value="true"> 5 PM - 6 PM
              </div>
              <div class="pure-u-2-8">
                <input id="eighteen" type="checkbox" name="eighteen" value="true"> 6 PM - 7 PM
              </div>
              <div class="pure-u-2-8">
                <input id="nineteen" type="checkbox" name="nineteen" value="true"> 7 PM - 8 PM
              </div>
              <div class="pure-u-2-8">
                <input id="twenty" type="checkbox" name="twenty" value="true"> 8 PM - 9 PM
              </div>
              <div class="pure-u-2-8">
                <input id="twentyone" type="checkbox" name="twentyone" value="true"> 9 PM - 10 PM
              </div>
              <div class="pure-u-2-8">
                <input id="twentytwo" type="checkbox" name="twentytwo" value="true"> 10 PM - 11 PM
              </div>
              <div class="pure-u-2-8">
                <input id="twentythree" type="checkbox" name="twentythree" value="true"> 11 PM - MIDNIGHT
              </div>
            </label>
      <!-- </div> -->

   <br>
        <legend>Price</legend>
        <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
                  <label for="price">Price Per Hour</label>
                  <input id="price" class="pure-u-23-24" type="number" name="price" required>
         </div>
        </div>

        <button id="submitbtn" type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
</form>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" formtarget="/owner">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
        </div>
    </div>
</div>
