<div class="container">
    <div class="row">
        <div class="col-sm-12">
        
                <legend>Rental Space Form</legend>
                
                    <form role="form" action="/" method="POST">
                        <h3>Property Address</h3>
                        <hr>
                        <div class="row">
                            <div class="form-group col-sm-5">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="user-address" name="address" required>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" name="city" required>
                                </input>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="zipcode">Zip Code</label>
                                <input type="number" class="form-control" id="zipcode" name="zipcode" required>
                            </div>
                            <div class="form-group col-sm-1">
                                <label for="state">State</label>
                                <select class="form-control" id="state" name="state" required>
                                    <option>IL</option>
                                </select>
                            </div>
                        </div>
                        <h3>Availablity Preference</h3>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2">
                                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExampleMonday" aria-expanded="false" aria-controls="collapseExample">
                                  Monday
                                </a>
                                <div class="collapse" id="collapseExampleMonday">
                                <div class="well">
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="0"> 12 AM - 1 AM
                                      </label>
                                    </div>
                                
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="1"> 1 AM - 2 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="2"> 2 AM - 3 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="3"> 3 AM - 4 AM
                                      </label>
                                    </div>
                           
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="4"> 4 AM - 5 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="5"> 5 AM - 6 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="6"> 6 AM - 7 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="7"> 7 AM - 8 AM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="8"> 8 AM - 9 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="9"> 9 AM - 10 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="10"> 10 AM - 11 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="11"> 11 AM - Noon
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="12"> Noon - 1 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="13"> 1 PM - 2 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="14"> 2 PM - 3 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="15"> 3 PM - 4 PM
                                    </label>
                                </div>
                         
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="16"> 4 PM - 5 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="17"> 5 PM - 6 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="18"> 6 PM - 7 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="19"> 7 PM - 8 PM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="20"> 8 PM - 9 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="21"> 9 PM - 10 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="22"> 10 PM - 11 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="23"> 11 PM - 12 AM
                                    </label>
                                </div>
                                 </div>
                            </div>
                            </div>
                             <div class="col-sm-2">
                                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExampleTuesday" aria-expanded="false" aria-controls="collapseExample">
                                  Tuesday
                                </a>
                                <div class="collapse" id="collapseExampleTuesday">
                                <div class="well">
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="0"> 12 AM - 1 AM
                                      </label>
                                    </div>
                                
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="1"> 1 AM - 2 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="2"> 2 AM - 3 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="3"> 3 AM - 4 AM
                                      </label>
                                    </div>
                           
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="4"> 4 AM - 5 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="5"> 5 AM - 6 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="6"> 6 AM - 7 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="7"> 7 AM - 8 AM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="8"> 8 AM - 9 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="9"> 9 AM - 10 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="10"> 10 AM - 11 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="11"> 11 AM - Noon
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="12"> Noon - 1 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="13"> 1 PM - 2 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="14"> 2 PM - 3 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="15"> 3 PM - 4 PM
                                    </label>
                                </div>
                         
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="16"> 4 PM - 5 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="17"> 5 PM - 6 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="18"> 6 PM - 7 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="19"> 7 PM - 8 PM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="20"> 8 PM - 9 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="21"> 9 PM - 10 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="22"> 10 PM - 11 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="23"> 11 PM - 12 AM
                                    </label>
                                </div>
                                 </div>
                            </div>
                            </div>
                             <div class="col-sm-2">
                                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExampleWednesday" aria-expanded="false" aria-controls="collapseExample">
                                  Wednesday
                                </a>
                                <div class="collapse" id="collapseExampleWednesday">
                                <div class="well">
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="0"> 12 AM - 1 AM
                                      </label>
                                    </div>
                                
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="1"> 1 AM - 2 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="2"> 2 AM - 3 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="3"> 3 AM - 4 AM
                                      </label>
                                    </div>
                           
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="4"> 4 AM - 5 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="5"> 5 AM - 6 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="6"> 6 AM - 7 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="7"> 7 AM - 8 AM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="8"> 8 AM - 9 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="9"> 9 AM - 10 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="10"> 10 AM - 11 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="11"> 11 AM - Noon
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="12"> Noon - 1 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="13"> 1 PM - 2 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="14"> 2 PM - 3 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="15"> 3 PM - 4 PM
                                    </label>
                                </div>
                         
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="16"> 4 PM - 5 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="17"> 5 PM - 6 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="18"> 6 PM - 7 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="19"> 7 PM - 8 PM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="20"> 8 PM - 9 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="21"> 9 PM - 10 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="22"> 10 PM - 11 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="23"> 11 PM - 12 AM
                                    </label>
                                </div>
                                 </div>
                            </div>
                            </div>
                             <div class="col-sm-2">
                                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExampleThursday" aria-expanded="false" aria-controls="collapseExample">
                                  Thursday
                                </a>
                                <div class="collapse" id="collapseExampleThursday">
                                <div class="well">
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="0"> 12 AM - 1 AM
                                      </label>
                                    </div>
                                
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="1"> 1 AM - 2 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="2"> 2 AM - 3 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="3"> 3 AM - 4 AM
                                      </label>
                                    </div>
                           
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="4"> 4 AM - 5 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="5"> 5 AM - 6 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="6"> 6 AM - 7 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="7"> 7 AM - 8 AM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="8"> 8 AM - 9 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="9"> 9 AM - 10 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="10"> 10 AM - 11 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="11"> 11 AM - Noon
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="12"> Noon - 1 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="13"> 1 PM - 2 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="14"> 2 PM - 3 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="15"> 3 PM - 4 PM
                                    </label>
                                </div>
                         
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="16"> 4 PM - 5 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="17"> 5 PM - 6 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="18"> 6 PM - 7 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="19"> 7 PM - 8 PM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="20"> 8 PM - 9 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="21"> 9 PM - 10 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="22"> 10 PM - 11 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="23"> 11 PM - 12 AM
                                    </label>
                                </div>
                                 </div>
                            </div>
                            </div>
                             <div class="col-sm-2">
                                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExampleFriday" aria-expanded="false" aria-controls="collapseExample">
                                  Friday
                                </a>
                                <div class="collapse" id="collapseExampleFriday">
                                <div class="well">
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="0"> 12 AM - 1 AM
                                      </label>
                                    </div>
                                
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="1"> 1 AM - 2 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="2"> 2 AM - 3 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="3"> 3 AM - 4 AM
                                      </label>
                                    </div>
                           
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="4"> 4 AM - 5 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="5"> 5 AM - 6 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="6"> 6 AM - 7 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="7"> 7 AM - 8 AM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="8"> 8 AM - 9 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="9"> 9 AM - 10 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="10"> 10 AM - 11 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="11"> 11 AM - Noon
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="12"> Noon - 1 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="13"> 1 PM - 2 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="14"> 2 PM - 3 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="15"> 3 PM - 4 PM
                                    </label>
                                </div>
                         
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="16"> 4 PM - 5 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="17"> 5 PM - 6 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="18"> 6 PM - 7 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="19"> 7 PM - 8 PM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="20"> 8 PM - 9 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="21"> 9 PM - 10 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="22"> 10 PM - 11 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="23"> 11 PM - 12 AM
                                    </label>
                                </div>
                                 </div>
                            </div>
                            </div>
                             <div class="col-sm-2">
                                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExampleSaturday" aria-expanded="false" aria-controls="collapseExample">
                                  Saturday
                                </a>
                                <div class="collapse" id="collapseExampleSaturday">
                                <div class="well">
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="0"> 12 AM - 1 AM
                                      </label>
                                    </div>
                                
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="1"> 1 AM - 2 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="2"> 2 AM - 3 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="3"> 3 AM - 4 AM
                                      </label>
                                    </div>
                           
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="4"> 4 AM - 5 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="5"> 5 AM - 6 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="6"> 6 AM - 7 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="7"> 7 AM - 8 AM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="8"> 8 AM - 9 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="9"> 9 AM - 10 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="10"> 10 AM - 11 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="11"> 11 AM - Noon
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="12"> Noon - 1 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="13"> 1 PM - 2 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="14"> 2 PM - 3 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="15"> 3 PM - 4 PM
                                    </label>
                                </div>
                         
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="16"> 4 PM - 5 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="17"> 5 PM - 6 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="18"> 6 PM - 7 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="19"> 7 PM - 8 PM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="20"> 8 PM - 9 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="21"> 9 PM - 10 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="22"> 10 PM - 11 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="23"> 11 PM - 12 AM
                                    </label>
                                </div>
                                 </div>
                            </div>
                            </div>
                            <div class="col-sm-2" style="margin:20px 0 20px 0">
                                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExampleSunday" aria-expanded="false" aria-controls="collapseExample">
                                  Sunday
                                </a>
                                <div class="collapse" id="collapseExampleSunday">
                                <div class="well">
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="0"> 12 AM - 1 AM
                                      </label>
                                    </div>
                                
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="1"> 1 AM - 2 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="2"> 2 AM - 3 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="3"> 3 AM - 4 AM
                                      </label>
                                    </div>
                           
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="4"> 4 AM - 5 AM
                                      </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="5"> 5 AM - 6 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="6"> 6 AM - 7 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="7"> 7 AM - 8 AM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="8"> 8 AM - 9 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="9"> 9 AM - 10 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="10"> 10 AM - 11 AM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="11"> 11 AM - Noon
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="12"> Noon - 1 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="13"> 1 PM - 2 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="14"> 2 PM - 3 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="15"> 3 PM - 4 PM
                                    </label>
                                </div>
                         
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="16"> 4 PM - 5 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="17"> 5 PM - 6 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="18"> 6 PM - 7 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="19"> 7 PM - 8 PM
                                    </label>
                                </div>
                            
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="20"> 8 PM - 9 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="21"> 9 PM - 10 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="22"> 10 PM - 11 PM
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="23"> 11 PM - 12 AM
                                    </label>
                                </div>
                                 </div>
                            </div>
                            </div>
                        </div>
                        <h3>Price</h3>
                        <hr>
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label for="address">Price Per Hour</label>
                                <input type="text" class="form-control" id="price" name="price" required>
                            </div>
                        </div>
                       <div class="row">
                            <div class="col-sm-12">

                                <button value="Submit" type="submit" class="btn btn-primary" id="submit-button" data-toggle="modal">Submit</button>

                            </div>
                        </div>
                    </form>


        </div>
    </div>
</div>
